<!DOCTYPE html>
<html lang="en">
        <head>
                <title>greenchef</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="Homepage for greenchef.bradi.sh">
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        </head>
        <body>
                <div class = "container">
                        <div class="row">
                                <div class="col-sm-6">
                                {% for file in site.static_files %}
                                {% if file.path contains 'thumb' %}
                                <a href="{{file.path | split : '-' | pop | push: 'main.jpg' | join '-'}}" class="btn btn-primary">View Recipe</a>
                                <div class="card bg-dark text-white">
                                        <img src="{{file.path}}" class="card-img" alt="...">
                                        <div class="card-img-overlay">
                                        <h5 class="card-title">{{file.basename | split: '-' | pop | pop | pop | join: ' ' }}</h5>
                                        </div>
                                </div>
                        </div>
                </div>
        {% endif %}
        {% endfor %}
        </body>
</html>
