<!DOCTYPE html>
<html lang="en">
        <head>
        <title>greenchef</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <meta name="description" content="Homepage for greenchef.bradi.sh">

        </head>
        <body>
                Files:
                {% for file in site.static_files %}
                        <a href="{{ file.path }}" alt="">{{file.basename | split: '-' | pop | join: " " }}<a><br>
                {% endfor %}
                
        </body>
</html>
