

name: PDF to JPG

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install ghostscript
        run: sudo apt install ghostscript
      - name: Thumbs from PDF to JPG
        run: find pdfs/*.pdf -exec sh -c 'gs -dNOPAUSE -dBATCH -sDEVICE=jpeg -sPageList=1 -r100x100 -sOutputFile="${1%.*}.jpg" "$1"' sh {} \;
      - name : Move thumbs
        run: mv pdfs/*.jpg thumbs
      - name: Main from PDF to JPG
        run: find pdfs/*.pdf -exec sh -c 'gs -dNOPAUSE -dBATCH -sDEVICE=jpeg -sPageList=2 -dJPEGQ=95 -r600x600 -sOutputFile="${1%.*}.jpg" "$1"' sh {} \;
      - name: Move mains
        run: mv pdfs/*.jpg mains
      - name: Crop mains
        run: mogrify -quality 100% -format jpg -chop x100 -gravity West -path /crops /mains/*.jpg
      - name: Commit JPG
        id: commit
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add *
          if [-z "$(git status --porcelain)"]; then
              echo "Nothing to do"
          else
             git commit -m "[bot] updated JPG files"
             git push
          fi
        shell: bash
