

name: PDF to JPG

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install ghostscript
        run: sudo apt install ghostscript
      - name: Change ImageMagick security policy
        run: |
          DQT='"' 
          SRC="rights=${DQT}none${DQT} pattern=${DQT}PDF${DQT}"
          RPL="rights=${DQT}read\|write${DQT} pattern=${DQT}PDF${DQT}"
          sudo sed -i "s/$SRC/$RPL/" /etc/ImageMagick-6/policy.xml
      - name: List resources
        run: convert -list resource
      - name: Convert PDF to JPG
        run: mogrify -format jpg -density 100 -quality 100 raw/*.pdf
      - name: Shrink first pages
        run: mogrify  -format jpg -path converted -thumbnail 100x100 raw/*-0.jpg
      - name: Move second pages
        run: mv raw/*-1.jpg converted
      - name: Clear old jpgs
        run: rm raw/*.jpg
      - name: Commit JPG
        id: commit
        run: |
          git config --local user.email "action[bot]@github.com"
          git config --local user.name "github-actions[bot]"
          git add converted/*
          if [-z "$(git status --porcelain)"]; then
              echo "Nothing to do"
          else
             git commit -m "[bot] updated JPG files"
             git push
          fi
        shell: bash
